.required {
    color: red;
}

/* Button Styling */
button {
    display: inline-flex;
    align-items: center;
    padding: 10px 15px;
    background-color: #fff;
    border-radius: 10px;
    border: none;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(79, 79, 79, 0.83);
    -moz-box-shadow: 0px 0px 5px 1px rgba(79, 79, 79, 0.83);
    box-shadow: 0px 0px 1px 0px rgba(79, 79, 79, 0.5);
    font-size: 1rem;
    cursor: pointer;
}

button:hover {
    -webkit-box-shadow: 0px 3px 5px 1px rgba(79, 79, 79, 0.83);
    -moz-box-shadow: 0px 3px 5px 1px rgba(79, 79, 79, 0.83);
    box-shadow: 0px 3px 1px 0px rgba(79, 79, 79, 0.5);
}

button img {
    height: auto;
    width: 15px;
    margin-left: 5px;
}

.prio-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    padding: 10px 15px;
    background-color: #fff;
    border-radius: 10px;
    border: none;
    -webkit-box-shadow: 0px 0px 1px 0px rgba(79, 79, 79, 0.5);
    -moz-box-shadow: 0px 0px 1px 0px rgba(79, 79, 79, 0.5);
    box-shadow: 0px 0px 1px 0px rgba(79, 79, 79, 0.5);
    font-size: 1rem;
    cursor: pointer;
}

.prio-btn:hover {
    -webkit-box-shadow: 0px 3px 1px 0px rgba(79, 79, 79, 0.5);
    -moz-box-shadow: 0px 3px 1px 0px rgba(79, 79, 79, 0.5);
    box-shadow: 0px 3px 1px 0px rgba(79, 79, 79, 0.5);
}

.btn-high::after {
    content: "";
    background-image: url('../assets/img/prio-high.png');
    background-size: 17px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 17px;
    height: 13px;
    margin-left: 8px;
}

.btn-medium::after {
    content: "";
    background-image: url('../assets/img/prio-medium.png');
    background-size: 17px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 17px;
    height: 8px;
    margin-left: 8px;
}

.btn-low::after {
    content: "";
    background-image: url('../assets/img/prio-low.png');
    background-size: 17px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 17px;
    height: 13px;
    margin-left: 8px;
}

.checked-high {
    background-color: #FF3D00;
}

.checked-high:after {
    content: "";
    background-image: url('../assets/img/prio-high-white.png');
    background-size: 17px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 17px;
    height: 13px;
    margin-left: 8px;
}

.checked-medium {
    background-color: #FFA800;
}

.checked-medium::after {
    content: "";
    background-image: url('../assets/img/prio-medium-white.png');
    background-size: 17px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 17px;
    height: 8px;
    margin-left: 8px;
}

.checked-low {
    background-color: #7AE229;
}

.checked-low::after {
    content: "";
    background-image: url('../assets/img/prio-low-white.png');
    background-size: 17px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 17px;
    height: 13px;
    margin-left: 8px;
}

.create-task-btn {
    background-color: #2A3647;
    color: #fff;
    margin-left: 15px;
}

.create-task-btn:hover {
    background-color: #29ABE2;
}

.clear-task-btn {
    background-color: #F6F7F8;
}

.clear-task-btn:hover {
    color: #29ABE2;
    -webkit-box-shadow: 0px 0px 1px 1px rgba(41, 171, 226, 0.5);
    -moz-box-shadow: 0px 0px 1px 1px rgba(41, 171, 226, 0.5);
    box-shadow: 0px 0px 1px 1px rgba(41, 171, 226, 0.5);
}

.task-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - var(--header-height));
    width: calc(100vw - var(--sidebar-width));
    padding: 65px 65px 50px;
    position: relative;
    left: var(--sidebar-width);
    top: var(--header-height);
}

.task-section hr {
    color: #DFDFE0;
}

.task-section h1,
.task-bottom-container {
    width: 100%;
    height: 10%;
    margin-left: 25px;
}

.task-main-container {
    width: 100%;
    height: 80%;
}

.task-main-container input,
.task-bottom-container textarea,
.task-main-container select {
    width: 100%;
    height: 40px;
    padding: 10px;
    font-size: 1rem;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
}

.task-main-container input:focus,
.task-bottom-container textarea:focus,
.task-main-container select:focus,
#taskDescription:focus {
    border: 1px solid #90D1ED;
}

.task-main-container input:focus:invalid,
.task-main-container select:focus:invalid,
.required-border {
    border: 1px solid #FD8F9C !important;
}

#taskDescription {
    display: inline-block;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 1rem;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
}


.task-form {
    display: flex;
    gap: 10px;
    height: 100%;
}

.task-container-left,
.task-container-right {
    position: relative;
    margin: 0px 25px;
    flex: 1;
}

.task-container-left label,
.task-container-right label {
    margin-top: 20px;
    margin-bottom: 5px;
    display: inline-block;
    width: 100%;
}


.contact-selector-container,
.task-selector-container {
    position: relative;
    width: 100%;
}

.contact-selector,
.task-selector {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    position: relative;
    display: flex;
    align-items: center;
}


.contact-selector-arrow,
.task-selector-arrow {
    position: absolute;
    right: 5px;
}

.arrow-rotate {
    transform: rotate(180deg);
}

.contact-options,
.task-options {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    max-height: 200px;
    overflow-y: auto;
    display: none;
    z-index: 10;
}

.contact-option,
.task-option {
    display: flex;
    align-items: baseline;
    padding: 10px;
    cursor: pointer;
}

.contact-option label,
.task-option label {
    width: 80%;
    margin-right: 10px;
    margin-top: 0;
    margin-bottom: 0;
    cursor: pointer;
}

.contact-option input[type="checkbox"] {
    margin-left: auto;
    width: 10%;
}

.contact-option:hover,
.task-option:hover {
    background-color: #f0f0f0;
}

.selected-contacts {
    display: flex;
    margin-top: 5px;
    color: #555;
}

#selectedContacts {
    display: flex;
}

.sc-check {
    background-color: #091931;
    color: #fff;
}

.sc-check:hover {
    background-color: #2a3647;
}

.contact-search {
    position: absolute;
    top: 1px;
    left: 1px;
    width: 90%;
    border: none;
    display: none;
}

.contact-search input,
.contact-search input:focus,
.edit-field input:focus {
    border: none;
}

#prioChooser {
    display: flex;
    gap: 15px;
    width: 100%;
}

.add-subtask {
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    align-items: center;
}

.add-subtask input {
    border: none;
    width: 94%;
}

.add-subtask img {
    height: 20px;
    width: 20px;
}

.enhance-subtask-btn {
    align-items: center;
    gap: 3px;
    display: none;
}

.enhance-subtask-btn hr,
.edit-field-btn hr {
    height: 20px;
}

.add-subtask img:hover,
.contact-selector-arrow:hover,
.task-selector-arrow:hover,
.task-main-container-top img:hover {
    background-color: #dddcdc;
    border-radius: 50%;
    cursor: pointer;
}

.task-btn-container {
    position: absolute;
    bottom: 0;
    right: 0;
}

.show-subtask {
    width: 100%;
    font-size: 14px;
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.new-subtask {
    display: flex;
    position: relative;
}

.new-subtask p {
    padding: 5px 25px;
    width: 80%;
}

.new-subtask:hover,
.new-subtask:hover .new-subtask-btn,
.edit-field-btn img:hover {
    border-radius: 10px;
    background-color: #f0f0f0;
    opacity: 1;
}

.new-subtask-btn,
.edit-field-btn {
    width: 20%;
    display: flex;
    justify-content: end;
    opacity: 0;
    align-items: center;
    gap: 3px;
}

.edit-field-btn {
    opacity: 1;
}

.new-subtask-btn img,
.edit-field img {
    width: 20px;
    height: 20px;
}

#subtask:focus {
    border: none !important;
}

.field-activ {
    border: 1px solid #90D1ED !important;
}

.edit-field {
    position: absolute;
    width: 100%;
    display: none;
    background-color: #fff;
    border-bottom: 1px solid #90D1ED;
}

.edit-field input {
    width: 80%;
    height: 28px;
    padding: 5px;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    border-radius: 0;
    background-color: #fff;
}

/* Overlay Styling */

.at-overlay-container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    background-color: rgba(151, 149, 149, 0.37);
}

.at-overlay {
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 90%;
    border-radius: 25px;
    padding: 50px;
}

.at-overlay-hidden {
    display: none;
}

.task-main-container-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0px 25px;
}

.task-main-container-top img {
    cursor: pointer;
}

/* Grundlegender Stil für die Toast-Nachricht */
.toast-message {
    position: fixed;
    bottom: -100px;
    /* Startpunkt außerhalb des Bildschirms */
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: white;
    padding: 15px 30px;
    border-radius: 5px;
    font-size: 18px;
    z-index: 1000;
    opacity: 0;
    transition: bottom 0.5s ease, opacity 0.5s ease;
}

/* Toast-Nachricht in die Mitte des Bildschirms schieben */
.toast-visible {
    bottom: 50%;
    /* Mitte des Bildschirms */
    opacity: 1;
    /* Sichtbar */
}