.board-mainContainer {
    display: flex;
    flex-direction: column;
    height: calc(100vh - var(--header-height));
    width: calc(100vw - var(--sidebar-width));
    position: relative;
    left: var(--sidebar-width);
    top: var(--header-height);
    overflow-y: scroll;
}


body {
    background-color: #F6F7F8;
}

.board-mainContainer {
    display: flex;
    flex-direction: column;
}

.board-page {
    display: flex;
}

.board-top {
    display: flex;
    margin: 48px;
    margin-right: 90px;
}

.board-InputFieldDiv {
    margin-right: 32px;
    position: relative;
}

.board-InputField {
    border-radius: 5px;
    background: white;
    width: 280px;
    height: 32px;
}

.board-input {
    display: flex;
    align-items: center;
    margin-left: auto;
}

h1 {
    font-size: 64px;
    font-weight: 700;
}

.board-topAddtaskDiv {
    display: flex;
    align-items: center;
    background-color: #2A3647;
    border-radius: 6px;
    padding: 8px;
    cursor: pointer;
}

.board-topAddtaskDiv:hover {
    transform: scale(1.03);
    transition: 0.1s ease;
    filter: brightness(0.9);
    background-color: #29ABE2;

}

.board-topAddtaskFont {
    font-size: 21px;
    margin-right: 10px;
    color: white;
    font-weight: 700;

}

.board-AddImage {
    height: 16px;
    width: 16px;
    cursor: pointer;
}

.board-searchImage {
    position: absolute;
    background-color: white;
    top: 10px;
    left: 250px;
    cursor: pointer;
}

.board-searchImage:hover {
    transform: scale(1.2);
}

.board-center {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.board-centerTitel {
    font-size: 20px;
    font-weight: 700;
    margin-right: 10px;
}

.board-bottomPlusImg {
    width: 24px;
    height: 24px;
}

.board-bottomPlusImg:hover {
    transform: scale(1.2);
    cursor: pointer;
    background-color: white;
}

.board-bottom {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.noTaskSpan {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    margin-right: 16px;
    border: 2px dashed #d7d7d7;
    background-color: #ededed;
    padding: 16px;
    border-radius: 10px;
    color: #a9a9a9;
}

.scroll-div {
    position: relative;
    margin-top: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    /* overflow-y: scroll;*/
    /* Verhindert anfängliche Anzeige der Scrollleiste */
}



.scroll-div::-webkit-scrollbar {
    width: 4px;
}

.scroll-div::-webkit-scrollbar-track {
    background: #b8baba;
    border-radius: 10px;
}

.scroll-div::-webkit-scrollbar-thumb {
    background-color: #dcdada;
    border-radius: 10px;
    border: 2px solid #e4e2e2;
}

.scroll-div::-webkit-scrollbar-thumb:hover {
    background-color: #c0c0c0;
}

#left,
#right,
#leftNum2,
#rightNum2 {
    width: 230px;
    height: 100%;
    padding: 1px;
}

.list {
    height: 224px;
    width: 224px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    border: 1px solid #ddd;
    cursor: grab;
    border-radius: 16px;
}

.background-bigListView {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    top: 0;
    background-color: rgba(151, 149, 149, 0.37);
}

.inner-bigListView {
    display: flex;
    padding: 50px;
    flex-direction: column;
    border-radius: 40px;
    height: 400px;
    width: 400px;
    background-color: whitesmoke;
    scrollbar-width: none;
    overflow-y: scroll;
}

.top-content-bigListView {
    display: flex;
    justify-content: space-between;
}

.close-bigListView-button {
    cursor: pointer;
}

.board-centerTitel {
    padding-right: 100px;
}

/* Task Card Styling */

.task-card-bottom {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.task-card-contacts {
    display: flex;
    margin-right: initial;
}

@media(max-width: 1217px) {

    .board-topAddtaskFont {
        display: none;
        height: 24px;
        width: 24px;
    }

    .board-AddImage {
        height: 24px;
        width: 24px;
    }

    .board-bottom {
        display: flex;
        flex-direction: column;
        align-items: initial;
        justify-content: space-around;
    }

    #left,
    #right,
    #leftNum2,
    #rightNum2 {
        display: flex;
        width: 1000px;
        padding: 1px;
    }

    .toAdd-bottom {
        padding: 16px;
    }

    .scroll-div {
        height: 270px;
        justify-content: initial;
        /* damit wird es zurückgesetzt auf dem anfangs zustand */
        overflow-y: hidden;
    }

    .list {
        height: 224px;
        width: 224px;
        margin: 8px;
    }


    /* Stil für die horizontale Scrollleiste */
    .scroll-div::-webkit-scrollbar {
        height: 4px;
        /* Höhe der horizontalen Scrollleiste */
    }

    .scroll-div::-webkit-scrollbar-track {
        background: #e9ebeb;
        border-radius: 10px;
    }

    .scroll-div::-webkit-scrollbar-thumb {
        background-color: #dcdada;
        border-radius: 10px;
        border: 2px solid #aeabab;
    }

    .scroll-div::-webkit-scrollbar-thumb:hover {
        background-color: #c5c2c2;
        /* Farbe des Scrollbalkens beim Hover */
    }

    .board-bottom {
        margin-top: 64px;
    }


}

@media(max-width: 901px) {

    .board-InputFieldDiv {
        position: initial;
    }

    .board-InputField {
        position: absolute;
        top: 130px;
        right: 10px;
        left: auto;
        border-radius: 10px;
        width: 278px;
        height: 39px;
    }

    .board-searchImage {
        position: absolute;
        background-color: white;
        top: 140px;
        right: 24px;
        left: auto;
        cursor: pointer;
    }

    h1 {
        font-size: 47px;
    }

    .board-top {
        display: flex;
        margin: 40px;
        margin-right: 10px;
    }
}

@media(max-width: 320px) {}