body {
    display: flex;
    margin: 0;
    visibility: hidden;
}

.contact-list-sidebar {
    width: 300px;
    height: 100%;
    background-color: #ffffff;
    padding: 20px;
    overflow-y: scroll;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    left: var(--sidebar-width);
    top: var(--header-height);
}

.contact-content {
    position: fixed;
    left: 550px;
    height: 100%;
    top: var(--header-height);
}

.contact-letter-section {
    margin-bottom: 10px;
}

.contact-list-header {
    flex: 1;
    padding: 50px;
    background-color: #f6f7f8;
}

.contact-list-header-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 48px;
    width: 350px;
}

.contact-list-title {
    font-size: 36px;
    margin: 0;
}

.contact-list-subtitle {
    font-size: 18px;
    color: gray;
}

.add-contact-button {
    margin-bottom: 30px;
    text-align: center;
}

.btn-add-contact {
    background-color: #2A3647;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 225px;
}

.btn-add-contact img {
    height: 25px;
    width: 25px;
}

.btn-add-contact:hover {
    background-color: #0056b3;
}

.contact-section {
    margin-bottom: 30px;
}

.section-title {
    font-size: 18px;
    margin: 0;
    padding-bottom: 10px;
    color: gray;
}

.contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 4px;
    cursor: pointer;
}

.contact-item:hover {
    background-color: #2A3647;
    color: white;
    border-radius: 16px;
}

.contact-initial {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    margin-right: 15px;
    font-size: 14px;
}

.contact-avatar {
    min-width: 40px;
    min-height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-section-letter {
    margin-bottom: 10px !important;
}

/* Dynamic initial background colors */
.contact-section:nth-child(1) .contact-initial {
    background-color: purple;
}

.contact-section:nth-child(2) .contact-initial {
    background-color: teal;
}

.contact-section:nth-child(3) .contact-initial {
    background-color: pink;
}

.contact-section:nth-child(4) .contact-initial {
    background-color: lightcoral;
}

.contact-section:nth-child(5) .contact-initial {
    background-color: coral;
}

.contact-section:nth-child(6) .contact-initial {
    background-color: green;
}

.contact-section:nth-child(7) .contact-initial {
    background-color: blue;
}

.contact-info {
    display: flex;
    flex-direction: column;
}

.contact-name {
    font-weight: bold;
    font-size: 16px;
    margin-left: 32px;
}

.contact-email {
    color: gray;
    font-size: 14px;
}

.contact-card {
    padding: 20px;
}

.profile-section {
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
}

.profile-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: inline-block;
}

.profile-name {
    font-size: 24px;
    margin: 10px 0;
}

.profile-actions {
    margin-top: 10px;
}

.profile-actions a {
    text-decoration: none;
    color: #3498db;
    margin-right: 10px;
    font-size: 14px;
    cursor: pointer;
}

.contact-details {
    margin-top: 20px;
}

.details-heading {
    font-size: 16px;
    margin-bottom: 10px;
}

.contact-label {
    margin: 5px 0;
    font-size: 14px;
}

.contact-email,
.contact-phone {
    text-decoration: none;
    color: #3498db;
    font-size: 14px;
    display: block;
    margin-bottom: 10px;
}

#overlay {
    z-index: 1000;
    position: relative;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.264);
}

#dialog {
    display: flex;
    flex-direction: row;
    height: 500px;
    width: 950px;
    background-color: #ffffff;
    border-radius: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contact-form-description {
    display: flex;
    height: 100%;
    width: 35%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #2A3647;
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
}

.contact-form-description h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.contact-form-description p {
    font-size: 16px;
}

.contact-form {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
    margin: 0px 48px;
}

.contact-form-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
}

.name-input,
.email-input,
.phone-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.email-icon,
.phone-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
}

.button-container {
    display: flex;
    flex-direction: row;
    width: 350px;
    margin-top: 24px;
}

.cancel-button,
.create-contact-button {
    padding: 10px 20px;
    background-color: #2A3647;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cancel-button {
    background-color: white;
    color: #2A3647;
    border: 1px solid #2A3647;
    margin-right: 20px
}

.back-contact-arrow {
    visibility: hidden;
}

@media (max-width: 1200px) {

    .contact-list-sidebar {
        left: unset;
    }

    .contact-content {
        left: 350px;
    }
}


@media (max-width: 775px) {

    .contact-list-sidebar {
        width: auto;
        height: 100%;
        background-color: #ffffff;
        padding: 20px;
        overflow-y: initial;
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
        margin-top: 100px;
        margin-bottom: initial;
        padding-bottom: 100px;
        position: initial;
        left: var(--sidebar-width);
        top: var(--header-height);
    }

    .contact-list-subtitle {
        font-size: 16px;
    }

    .contact-list-title {
        font-size: 16px;
    }

    .contact-list-header-content {
        height: unset;
        width: unset;
    }
}

@media (min-width: 768px) {

    .logo {
        position: absolute;
        top: 48px;
        left: 48px;
    }
}

@media (max-width: 767px) {

    .contact-list-sidebar {
        width: 100vw;
    }

    .contact-list-header {
        display: none
    }

    .add-contact-button {
        display: flex;
        justify-content: center;
    }

    .contact-card {
        width: 100vw;
    }

    .back-contact-arrow {
        margin-top: 10px
    }
}


@media (max-width: 613px) {

    .card-mainDivv {
        margin-top: 80px;
        padding: 64px;
        padding-bottom: 150px;
        background: #f9f9f9;
    }

    .back-contact-arrow {
        visibility: initial;
        cursor: pointer;
    }

    .profile-section {
        text-align: center;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contact-content {
        left: 0;
        top: 0;

    }

}

@media (max-width: 980px) {

    #overlay {
        z-index: 1000;
        position: unset;
        height: auto;
        width: auto;
        background-color: unset;
    }

    #dialog {
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 100%;
        background-color: #ffffff;
        border-radius: unset;
        position: fixed;
        top: unset;
        left: unset;
        transform: unset;
    }


    .contact-form-description {
        display: flex;
        height: 50%;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        border-top-left-radius: initial;
        border-bottom-left-radius: initial;
    }


    .contact-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 50%;
        width: 100%;
    }

    .contact-form-text {
        display: flex;
        flex-direction: column;
    }

    .button-container {
        display: flex;
        flex-direction: unset;
        justify-content: center;
    }

    .name-input,
    .email-input,
    .phone-input {
        width: 80%;
    }

    .profile-image {
        width: 100px;
        position: absolute;
        top: 300px;
        width: 112px;
        height: 112px;
        border-radius: 50%;
        margin-bottom: 20px;
        margin: 0px 48px;
    }

    .contact-form-text {
        display: flex;
        flex-direction: column;
        margin-top: 64px;
    }
}