/* inter-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/inter-v18-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
    --sidebar-width: 232px;
    --header-height: 96px;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    max-height: 100vh;
    background-color: #F6F7F8;
}

textarea:focus,
input:focus {
    outline: none;
}

a {
    color: #000;
    text-decoration: none;
}

.d-none {
    display: none;
}

/* Header */

.infoBox-href-text {
    color: #CDCDCD;
}

.header-mainDiv {
    position: fixed;
    z-index: 1000;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFFFF;
    width: calc(100vw - 232px);
    height: var(--header-height);
    box-shadow: 0px 3px 3px 0px #0000001a;
}

.header-titel {
    font-size: 20px;
    font-weight: 400;
}

.helpIconImage {
    width: 32px;
    height: 32px;
    margin-right: 16px;
    cursor: pointer;
    border-radius: 50px;
}

.helpIconImage:hover {
    transform: scale(1.1);
    box-shadow: 1px 1px 1px 1px #fefefe;
}

.header-rightSection {
    display: flex;
    align-items: center;
    margin-right: 16px;
}

.header-user {
    width: 50px;
    height: 50px;
    background-color: white;
    border: 3px solid black;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #29abe2;
    font-size: large;
    font-weight: bold;

}

.header-user:hover {
    transform: scale(1.2);
}

.header-leftSection {
    margin-left: 100px;
}


.imgLogoHeader {
    display: none;
}

.infoBox {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 48px;
    top: 71px;
    padding: 10px;
    background-color: #2A3647;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

.infoBox-Header-text {
    color: #CDCDCD;
    padding: 16px;
    cursor: pointer;
    font-size: 16px;
}


.infoBox-Header-text:hover {
    box-shadow: 0.5px 0.5px 0.5px 0.5px #000000;
    background-color: #1e2733;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}






/* Sidebar */
.sideBar-mainDiv {
    background-color: #2A3647;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    width: var(--sidebar-width);
    height: 100vh;
    z-index: 1000;

}

.joinImg-sideBar {
    width: 100px;
    height: 121px;
    margin-top: 40px;
}

.sideBar-changeArea {
    display: flex;
    flex-direction: column;
    margin-top: 82px;
    width: 232px;
}

.sideBar-changeArea-icon {
    height: 32px;
    width: 32px;
    margin-right: 8px;
}

.sideBar-changeArea-text {
    font-size: 16px;
    color: #CDCDCD;

}

.sideBar-changeAreaSub {
    display: flex;
    align-items: center;
    padding: 16px 50px;
    cursor: pointer;
    background-color: #2A3647;
    color: #CDCDCD !important;
    transition: background-color 0.1s;
}

.sideBar-changeAreaSub a {
    color: #CDCDCD !important;
}

.sideBar-changeAreaSub:hover {
    background-color: #2A3D59;
}

.sideBar-changeAreaSub.clicked {
    background-color: #091931;
}

.sideBar-InformationArea {
    width: 232px;
    position: absolute;
    bottom: 0;
    margin-bottom: 50px;
}

.sideBar-InformationArea-textDiv {
    padding: 10px;
}

/* Contact Styling */

.contact-initials {
    min-width: 30px;
    min-height: 30px;
    border-radius: 50%;
    color: #fff;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    font-size: 0.9rem;
    border: 1px solid white;
}

/* Grundlegender Stil für die Toast-Nachricht */
.toast-message {
    position: fixed;
    bottom: -100px;
    /* Startpunkt außerhalb des Bildschirms */
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: white;
    padding: 15px 30px;
    border-radius: 5px;
    font-size: 18px;
    z-index: 1000;
    opacity: 0;
    transition: bottom 0.5s ease, opacity 0.5s ease;
}

/* Toast-Nachricht in die Mitte des Bildschirms schieben */
.toast-visible {
    bottom: 50%;
    /* Mitte des Bildschirms */
    opacity: 1;
    /* Sichtbar */
}


/*sidebar responsive*/

@media (max-width: 1200px) {

    .sideBar-mainDiv {
        background-color: #2A3647;
        width: 100%;
        height: auto;
        bottom: 0;
        display: flex;
        align-items: center;
        z-index: 1000;
    }

    .sideBar-changeArea {
        display: flex;
        flex-direction: initial;
        margin-top: auto;
        width: auto;
        gap: 116px;
    }

    .sideBar-changeArea-icon {
        height: 32px;
        width: 32px;
        margin-right: initial;
    }

    .sideBar-changeAreaSub {
        display: flex;
        flex-direction: column;
        padding: 0;
        cursor: pointer;
        margin-top: 8px;
        margin-bottom: 8px;
        width: 88px;
    }

    .sideBar-InformationArea {
        margin-top: initial;
        /* Setzt den oberen Rand auf den Standardwert zurück */
        width: auto;
    }

    .sideBar-InformationArea {
        display: none;
    }

    .joinImg-sideBar {
        display: none;
    }

}

@media(max-width: 740px) {
    .sideBar-changeArea {
        gap: 50px;
    }
}

@media(max-width: 500px) {


    .sideBar-changeAreaSub {
        display: flex;
        flex-direction: column;
        padding: 0;
        /* margin: 20px; */
        cursor: pointer;
        height: 80px;
        width: 80px;
    }


    .sideBar-changeArea {
        gap: 1px;
    }

    .sideBar-changeArea-text {
        font-size: 14px;
    }
}

/*header responsive */



@media(max-width: 1200px) {

    .header-mainDiv {
        right: initial;
        width: calc(100vw - 1px);
    }
}

@media(max-width: 770px) {


    .imgLogoHeader {
        display: initial;
        width: 32px;
    }


    .header-titel {
        display: none;
    }

    .header-leftSection {
        margin-left: 16px;
    }
}

.content-size {
    max-width: 1920px;
  }