<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/header.css">
</head>

<body>

    <div class="header-mainDiv">
        <div class="header-leftSection"><span class="header-titel">Kanban Project Management Tool</span></div>
        <div class="header-rightSection">
            <div><img class="helpIconImage" src="img/helpIcon.png" alt=""></div>
            <div>
                <div class="header-user"></div>
            </div>
        </div>
    </div>
</body>

</html>