  
    <head>
        <link rel="stylesheet" href="style.css">
        <script src="script.js"></script>
    </head>
    
    <div class="main-class-div">
  <div class="sideBar-mainDiv">
        <div><img class="joinImg-sideBar" src="./assets/img/Capa 2 (1).png" alt=""></div>
        <div class="sideBar-changeArea">
            <a href="./summary.html" id="summary" class="sideBar-changeAreaSub"> 
                <img class="sideBar-changeArea-icon" src="./assets/img/IconSummary.png" alt="">
                <span class="sideBar-changeArea-text">Summary</span>
            </a>
            <a href="./add-task.html" id="addTask" class="sideBar-changeAreaSub"> 
                <img class="sideBar-changeArea-icon" src="./assets/img/IconTast.png" alt="">
                <span  class="sideBar-changeArea-text">Add Task</span>
            </a>
            <a href="./board.html" id="board" class="sideBar-changeAreaSub">
                <img class="sideBar-changeArea-icon" src="./assets/img/IconBoard.png" alt="">
                <span  class="sideBar-changeArea-text">Board</span>
            </a>
            <a href="./contacts.html" id="contacts" class="sideBar-changeAreaSub"> 
                <img class="sideBar-changeArea-icon" src="./assets/img/IconsConatct.png" alt="">
                <span class="sideBar-changeArea-text">Contacts</span>
            </a>
        </div>
        <div class="sideBar-InformationArea">
            <a href="./privacy-policy.html" id="privacyPolicy" class="sideBar-changeAreaSub"><span>Privacy Policy</span></a>
            <a href="./legal-notice.html" id="legalNotice" class="sideBar-changeAreaSub"><span>Legal notice</span></a>
        </div>
    </div>
</div>