<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/sidebar.css">
    <script src="./js/sideBar.js"></script>
</head>

<body>


    <div class="sideBar-mainDiv">
        <div><img class="joinImg-sideBar" src="img/Capa 2 (1).png" alt=""></div>
        <div class="sideBar-changeArea">
            <div id="summary" class="sideBar-changeAreaSub"> 
                <img class="sideBar-changeArea-icon" src="img/IconSummary.png" alt="">
                <span class="sideBar-changeArea-text">Summary</span>
            </div>
            <div id="addTask" class="sideBar-changeAreaSub"> 
                <img class="sideBar-changeArea-icon" src="img/IconTast.png" alt="">
                <span class="sideBar-changeArea-text">Add Task</span>
            </div>
            <div id="board" class="sideBar-changeAreaSub">
                <img class="sideBar-changeArea-icon" src="img/IconBoard.png" alt="">
                <span class="sideBar-changeArea-text">Board</span>
            </div>
            <div id="contacts" class="sideBar-changeAreaSub"> 
                <img class="sideBar-changeArea-icon" src="img/IconsConatct.png" alt="">
                <span class="sideBar-changeArea-text">Contacts</span>
            </div>
        </div>

        <div class="sideBar-InformationArea">
            <div id="privacyPolicy" class="sideBar-changeAreaSub"><span>Privacy Policy</span></div>
            <div id="legalNotice" class="sideBar-changeAreaSub"><span>Legal notice</span></div>
        </div>
    </div>

</body>

</html>