* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.sideBar-mainDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #2A3647;
    left: 0;
    width: 232px;


}