    <div class="sideBar-mainDiv">
        <div><img class="joinImg-sideBar" src="./assets/img/Capa 2 (1).png" alt=""></div>
        <div class="sideBar-changeArea">
            <div id="summary" class="sideBar-changeAreaSub"> 
                <img class="sideBar-changeArea-icon" src="./assets/img/IconSummary.png" alt="">
                <a href="./summary.html" class="sideBar-changeArea-text">Summary</a>
            </div>
            <div id="addTask" class="sideBar-changeAreaSub"> 
                <img class="sideBar-changeArea-icon" src="./assets/img/IconTast.png" alt="">
                <a href="./add-task.html" class="sideBar-changeArea-text">Add Task</a>
            </div>
            <div id="board" class="sideBar-changeAreaSub">
                <img class="sideBar-changeArea-icon" src="./assets/img/IconBoard.png" alt="">
                <a href="./board.html" class="sideBar-changeArea-text">Board</a>
            </div>
            <div id="contacts" class="sideBar-changeAreaSub"> 
                <img class="sideBar-changeArea-icon" src="./assets/img/IconsConatct.png" alt="">
                <a href="./contacts.html" class="sideBar-changeArea-text">Contacts</a>
            </div>
        </div>

        <div class="sideBar-InformationArea">
            <div id="privacyPolicy" class="sideBar-changeAreaSub"><a href="./legal-notice.html">Privacy Policy</a></div>
            <div id="legalNotice" class="sideBar-changeAreaSub"><a href="./privacy-policy.html">Legal notice</a></div>
        </div>
    </div>