* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sideBar-mainDiv {
    background-color: #2A3647;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    width: 232px;
    height: 100vh;
}

.joinImg-sideBar {
    width: 100px;
    height: 121px;
    margin-top: 40px;
}

.sideBar-changeArea {
    display: flex;
    flex-direction: column;
    margin-top: 82px;
    width: 232px;
}

.sideBar-changeArea-icon {
    height: 32px;
    width: 32px;
    margin-right: 8px;
}

.sideBar-changeArea-text {
    font-size: 16px;
    color: #CDCDCD;

}

.sideBar-changeAreaSub {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    cursor: pointer;
    background-color: #2A3647;
    color: #CDCDCD;
    transition: background-color 0.1s;
}

.sideBar-changeAreaSub:hover {
    transform: scale(1.0);
    box-shadow: 1px 1px 1px 1px #000000;
}

.sideBar-changeAreaSub.clicked {
    background-color: #011630;
}

.sideBar-InformationArea {
    margin-top: 100px;
    width: 232px;
}

.sideBar-InformationArea-textDiv {
    padding: 10px;
}


@media(max-width: 1000px) {

    .sideBar-mainDiv {
        background-color: #2A3647;
        width: 100%;
        height: auto;
        bottom: 0;
        display: flex;
        align-items: center;
    }

    .sideBar-changeArea {
        display: flex;
        flex-direction: initial;
        margin-top: auto;
        width: auto;
    }

    .sideBar-changeArea-icon {
        height: 32px;
        width: 32px;
        margin-right: initial;
    }

    .sideBar-changeAreaSub {
        display: flex;
        flex-direction: column;
        padding: 0;
        /* margin: 20px; */
        cursor: pointer;
        height: 88px;
        width: 88px;
        margin-right: 36px;
        margin-left: 36px;
    }

    .sideBar-InformationArea {
        margin-top: initial;
        /* Setzt den oberen Rand auf den Standardwert zurück */
        width: auto;
    }

    .sideBar-InformationArea {
       display: none;
    }

    .joinImg-sideBar {
       display: none;
    }

}